<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/bootstrap.css}">
    <!-- 引入bootstrap.css文件-->
    <script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
</head>
<body class="">
    <table class="table table-hover"><!--使用bootstrap美化界面 -->
        <h1>嘉宾列表</h1>
        <thead>
            <th>人名</th>
            <th>职位</th>
        </thead>
        <tbody>
            <tr th:each="guest:${guestList}"><!--遍历传递过来的guestList集合 -->
                <td th:text="${guest.name}">name</td><!--先写一个默认值name,再用动态值替换掉 -->
                <td th:text="${guest.role}">role</td>
                <td class="col-sm-2">
                    <!--使按钮往右边移动两个单位长度 -->
                    <a th:href="@{/guest/toUpdate/}+${guest.name}"  class="btn btn-info">编辑</a>
                </td>
                <td class="col-sm-2">
<!--                    <a th:href="@{/guest/delete/}+${guest.name}" class="btn btn-info">删除</a>-->
                    <!--delete后面的括号表示请求携带的参数信息 -->
                    <button th:attr="del_url=@{/guest/}+${guest.name}" name="del_button">删除</button>

                </td>
            </tr>
        </tbody>

    </table>
    <div class="form-group">
        <div class="col-sm-2 control-lable">
            <a href="/guest/toAdd" th:href="@{/guest/toAdd}" class="btn btn-info">添加</a>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-2 control-label">
            <a href="/guest/toUpdate" th:href="@{/guest/toUpdate}" class="btn btn-info">修改</a>
        </div>
    </div>
</body>
</html>